@use "colors";
@use "card-members";

@mixin properties() {
  &__group-button {
    // Layout
    @include card-members.custom-layout(column, center, space-between);

    // Box model
    height: 12rem;
    padding: 2rem 0;
  }

  &__button {
    // Layout
    @include card-members.custom-layout(row, center, center);

    // Box model
    width: 25rem;
    border-radius: 1rem;
    height: 3.5rem;

    // Display
    @include card-members.custom-font(1.2rem, 700, colors.$desaturated-blue);
    text-decoration: none;
  }

  &__button--active {
    background: colors.$bright-blue;
    color: colors.$white;
    box-shadow: 0 0.8rem 1.5rem lighten(colors.$dark-blue, 60%);
  }
}
